body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.header {
    border: 2px solid red;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

.hero {
    border: 2px solid blue;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}

.left {
    border: 2px solid blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    border: 2px solid blue;
    padding: 0;
}

.troja {
    width: 600px;
    height: 200px;
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-second {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-button {
    background-color: #3882f6;
}

.mid {
    border: 2px solid green;
    padding-top: 20px;
}

.statement {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.images {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.mid-img {
    border: 2px solid lightgreen;
}

.comment {
    border: 2px solid orange;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.img {
    border: 2px solid purple;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.quote {
    border: 2px solid yellow;
    background-color: #E5E7EB;
    padding: 20px 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.quotation {
    border: 2px solid yellow;
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}

.who {
    border: 2px solid yellow;
    font-size: 20px;
    font-weight: 400;
    color: #1F2937;
    text-align: end;
}

.reg {
    border: 2px solid pink;
}

.footer {
    border: 2px solid brown;
    background-color: #1F2937;

}